<div class="app-layout">
  <nav class="sidebar">
    <div class="brand">
      <h1>🌱 Smart<br>Greenhouse</h1>
    </div>

    <div class="menu">
      <a routerLink="/environment" routerLinkActive="active" class="nav-item">
        <span class="icon">📊</span> Environment
      </a>

      <a routerLink="/control" routerLinkActive="active" class="nav-item">
        <span class="icon">🎛️</span> Control
      </a>

      <a routerLink="/alerts" routerLinkActive="active" class="nav-item">
        <span class="icon">🔔</span> Alerts
        @if (store.unreadAlertCount() > 0) {
          <span class="badge">{{ store.unreadAlertCount() }}</span>
        }
      </a>
    </div>

    <div class="connection-status">
      Status:
      <span [class]="store.connectionStatus()">
            {{ store.connectionStatus() }}
          </span>
    </div>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
